* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

body {
    padding: 1.5rem 2rem;
    /*background: linear-gradient(#dfe0db, #dfe0db 50%, #fcebe1 50%, #fcebe1);*/
    background: linear-gradient(#ffffff, #222 50%, #ffffff 50%, #222);
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #2196f3;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

p {
    line-height: 1.5;
}

section + section {
    margin-top: 1rem;
}

li + li {
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
}

a:hover {
    color: slateblue;
}

ul {
    list-style: none;
}

.profile img {
    border-radius: 9999px;
    with: 15rem;
    height: 15rem;
}

.profile {
    text-align: center;
}

.profile p {
    color: #888;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.contact ul {
    margin-top: -2rem;
}

.contact li {
    text-align: left;
    padding: 1rem;
    color: #888;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    font-size: 1rem;
}

.social li {
    text-transform: uppercase;
}


.contact i {
    font-size: 1rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1.3px solid #888;
}


h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 0.75rem 0;
    margin-bottom: 2rem;

}

.skills > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-grap: 1rem;
}

.skills li {
    font-size: 1.1rem;
    position: relative;
    padding: 0.2rem;
    /*color: #ffffff;*/
}

.skills li:before {
    content: "";
    position: absolute;
    /*top: calc(100% + 10px);*/
    left: 0;
    width: 100%;
    height: 17px;
    padding: 0.2rem;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
    opacity: 0.5;
}

.skills li:after {
    content: "";
    position: absolute;
    /*top: calc(100% + 10px);*/
    left: 0;
    width: 0;
    height: 17px;
    padding: 0.2rem;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0.5;
}

/*KEYFRAMES*/
li.linux:after {
    animation-name: linux;
}

@keyframes linux {
    to {
        width: 65%;
    }

}

li.aws:after {
    animation-name: aws;
}

@keyframes aws {
    to {
        width: 20%;
    }

}


li.networking:after {
    animation-name: networking;
}

@keyframes networking {
    to {
        width: 80%;
    }

}

li.python:after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 60%;
    }

}

li.bash:after {
    animation-name: bash;
}

@keyframes bash {
    to {
        width: 50%;
    }

}

li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 70%;
    }

}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }

}

li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 50%;
    }

}

li.mysql:after {
    animation-name: mysql;
}

@keyframes mysql {
    to {
        width: 60%;
    }

}


li.flask:after {
    animation-name: flask;
}

@keyframes flask {
    to {
        width: 70%;
    }

}

  li.fastapi:after {
    animation-name: fastapi;
}

@keyframes fastapi {
    to {
        width: 70%;
    }

}


li.django:after {
    animation-name: django;
}

@keyframes django {
    to {
        width: 50%;
    }

}

li.vue:after {
    animation-name: vue;
}

@keyframes vue {
    to {
        width: 50%;
    }

}


.event + .event .event {
    padding-top: 1rem;
}

.timeline .event {
    display: grid;
    grid-template-columns: 5ch 1fr;
}

.timeline .content {
    border-left: 1px solid #888;
    padding-left: 1rem;
    margin-left: 1rem;
}

.content > h3 + p {
    margin-bottom: 1rem;
    color: #888;
}

.resume {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4rem;
    background-color: white;
    padding: 3rem;
    max-width: 1000px;
    margin: auto;
}

.cv_btn {
     font-size: 1.5rem; 
     /* margin: 0.5rem;  */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
     background-color: #ffffff;
     margin-bottom: 2rem;
} 

.cv_btn:hover {
    opacity: 0.8;
    color: #2196f3;
}
.ip-info{color: #607d8b; font-size: 0.9rem;}

#pic {
    /*transform: translateY(-0%);*/
    /*transform: translateX(-0%);*/
    width: 60%;
    height: auto;
}

#dev-pic {
    /*transform: translateY(-0%);*/
    /*transform: translateX(-0%);*/
    width: 90%;
    height: auto;
}

/* mobile style */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {

    .resume {
        display: block;
    }
}
